@import 'variables';

$avatar-size: 40px;
$header-padding-y: 16px;

.header {
    display: flex;
    justify-content: space-between;
    padding: $header-padding-y;
    font-weight: bold;

    &_pageTitle {
        line-height: $avatar-size;
    }

    &_avatar {
        width: $avatar-size;
        height: $avatar-size;
        border-radius: 100%;
    }
}
